<footer class="bg-dark text-light text-center py-3">
  <section id="contact">
      <h2>Contact Us</h2>
      <form action="submit_form.php" method="POST">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
      
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
      
          <label for="message">Message:</label>
          <textarea id="message" name="message" required></textarea>
      
          <input type="submit" value="Submit">
      </form>
      <div class="containerss">
          <div class="footer-content">
              <div class="contact-info">
                  <h3>Contact Details</h3>
                  <p>Email: loginforms14@gmail.com</p>
                  <p>Phone: +91 081 66666 88</p>
              </div>
          </div>
          <p>&copy; 2023 Jahnavi project. All rights reserved.</p>
      </div>
  </section>
</footer>
